{% extends '_layout.html' %}

{% block title %}: Data sandbox{% endblock %}

{% block content %}
  <div class="container sandbox-page">
    <h1>
      <span class="icon icon-emoji">📈</span>
      Data sandbox
    </h1>

    <article>
      <p class="help">
        Upload your own growth or modeling data to visualize it without saving
        it to the database. You can visualize and validate your data before
        uploading it to any particular study.
      </p>
    </article>
  </div>
{% endblock %}
