{% macro render_custom_upload_form(study, custom_model) %}

  {% set form_url = url_for(
    'modeling_custom_model_upload_action',
    publicId=study.publicId,
    customModelId=custom_model.id
  )  %}

  <form
      data-custom-model-id="{{ custom_model.id }}"
      enctype="multipart/form-data"
      action="{{ form_url }}"
      method="POST"
      class="simple-form hidden">
    <h3>Upload {{ custom_model.name }} predictions</h3>

    <input type="hidden" name="selectedMeasurementContextId" />

    <div>
      Model predictions for:
      <span class="js-measurement-label"></span>
    </div>

    <div class="form-row">
      <label class="flex-1 box">
        <span>Data CSV</span>
        <input
            required
            name="predictions"
            type="file"
            class="form-input-full" />
      </label>
      <div class="help small flex-2">
        Provide the predictions of your model that are fitted to the selected
        measurements. The data should be a CSV with columns:

        <ul>
          <li>"<strong>time</strong>" in hours</li>
          <li>"<strong>value</strong>" in <span class="js-units-label"></span></li>
          <li>"<strong>error</strong>" (optional)</li>
        </ul>
      </div>
    </div>

    {% if custom_model.coefficientNames: %}
      <br>
      <h4>Model parameters:</h4>

      <div class="form-row">
        {% for info in custom_model.coefficientInfo:  %}
          <label class="flex-1">
            <span>{{ info['name'] }}</span>
            <input
                name="coefficients[{{ info['name'] }}]"
                type="number"
                step="any"
                value="{{ modeling_result and modeling_result.params['coefficients'][info['name']] }}"
                class="form-input-full form-input-blue" />
            <p class="help small">
              {{ info['name_html']|safe }}: {{ info['description_html']|safe }}
            </p>
          </label>
        {% endfor %}
      </div>
    {% endif %}

    {% if custom_model.fitNames: %}
      <br>
      <h4>Quality of fit:</h4>

      <div class="form-row">
        {% for info in custom_model.fitInfo: %}
          <label class="flex-1">
            <span>{{ info['name'] }}</span>
            <input
                name="fit[{{ info['name'] }}]"
                type="number"
                step="any"
                value="{{ modeling_result and modeling_result.params['fit'][info['name']] }}"
                class="form-input-full form-input-blue" />
            <p class="help small">
              {{ info['name_html']|safe }}: {{ info['description_html']|safe }}
            </p>
          </label>
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-row">
      <input type="submit" class="flex-right" value="Submit" />
    </div>
  </form>

{% endmacro %}
