.homepage {
  .stats-table {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .column {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .illustration img {
      margin: 0 auto;
    }

    .info {
      font-size: 14px;
      text-align: center;
    }
  }
}
