.search-page {
  .strain-select, .metabolite-select {
    display: none;
  }

  .results-list {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding-right: 40px;
    padding-bottom: 40px;

    .simple-table {
      width: 100%;
    }

    .highlight {
      background-color: var(--light-blue);;
    }
  }
}
